$pink-dark-primary: mat-palette($mat-red, 600, 400, 800);
$pink-dark-accent: mat-palette($mat-blue-grey, 600, 300, 900);
$pink-dark-warn: mat-palette($mat-deep-orange, A200);

$pink-dark-theme: mat-dark-theme($pink-dark-primary, $pink-dark-accent, $pink-dark-warn);
