$red-dark-primary: mat-palette($mat-red, 800, 300, 900);
$red-dark-accent: mat-palette($mat-blue-grey, 600, 300, 900);
$red-dark-warn: mat-palette($mat-deep-orange, A200);

$red-dark-theme: mat-dark-theme($red-dark-primary, $red-dark-accent, $red-dark-warn);
